<h1> Add Athlete </h1>

<%= form_with url: "/gyms/:id/gym_athletes", method: :post, local: true do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label :age %>
<%= f.text_field :age %><br>

<%= f.label :collegiate_athlete %>
<%= f.text_field :collegiate_athelete %><br>

<%= f.submit "Add Athlete"%>
<% end %>